<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SqlServer" value="CA01A2729" />
		<add key="SqlDatabase" value="PLMWorxPerformanceTracker" />
	    <add key="SqlUsername" value="kT5Zb/ogn0TmpiBvSwkBag==" />
  	    <add key="SqlPassword" value="pecB7WTDceQ+3PpDVz9vU3QgwJUSBwv5sSG3TQqNXFE=" />
    	<add key="SqlDomain" value="EQn5UyfoFcLdjXJrOSrRHg==" />
	    <add key="atsConfigurationsServer" value="vEmibSN2P550bSx0/9y69w=="/>
	    <add key="atsConfigurationsDatabase" value="5V+Tkn1/iRBVt4kTiK2pBJVWnIxw8t1d+ToLo61zDIU="/>
	    <add key="atsConfigurationsUsername" value="5V+Tkn1/iRBVt4kTiK2pBJVWnIxw8t1d+ToLo61zDIU="/>
	    <add key="atsConfigurationsPassword" value="cis3HHSkYwXZjyho25jnUQ=="/> 

	</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
</configuration>